.navbar-text {
	font-color: white;
	font-size: 30px;
}

.buttons {
	float: right;
	margin-right: 200px;
	margin-top: 10px;
}

html {
	background: url("sunsetgirl.jpg") no-repeat center center fixed;
	background-size: cover;
}
